@import "../../sass/mixins";

.header {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
}

.header__container {
    background-color: #333;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    // position: fixed;
    // top: 0;
    // left: 140px;
    margin-bottom: 20px;
}

.header__img {
    width: 20px;
    height: 20px;
}

.header__sort-btn {
    width: 120px;
    @include reset-btn;
    background-color: #00b7ff;
    padding: 10px 20px;
}

.header__add-btn {
    @include reset-btn;
    background-color: #1d4ed8;
    color: #fff;
    padding: 10px 15px;

    &:hover {
        cursor: pointer;
        background-color: #3d65d1;
    }
}

.header__sort {
    position: relative;
}

.header__sort-modal {
    display: none;
    width: 199px;
    background-color: #fff;
    color: #333;
    flex-direction: column;
    border: 1px solid #00b7ff;
    border-bottom: none;
    position: absolute;
    z-index: 3;
    top: 40px;
    left: -45px;
}

.header__sort-modal--active {
    display: flex;
}

.header__sort-form {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.sort__span {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    padding: 10px 20px;
    border-bottom: 1px solid #00b7ff;
    color: #333;
    cursor: pointer;
}

.sort__radio:checked + .sort__span {
    width: 100%;
    background-color: #00b7ff;
    color: #fff;
}

.header__logo {
    display: flex;
    align-items: center;

    & strong {
        text-transform: capitalize;
        color: #a4c2f7;
    }
}

.header__img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}